/**
 * ===============
 * Global Settings
 * ===============
 */

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set color palette
$light-gray: #F9F9F9;
$silk: #DCD0C0;
$pale-gold: #C0B283;
$beige: #C6BBAC;
$dark-beige: #757763;
$charcoal: #373737;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$link: $dark-beige;
$menu-item-active-background-color: $beige;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import the rest of Bulma
@import '~bulma/bulma.sass';
@import '~bulma-extensions/src/sass/index.sass';

/**
 * ==============
 * Visual Effects
 * ==============
 */
// ==== Hover effects ====
@mixin hover-box-shadow {
	// Use pseudo-element for the shadow; see (https://blog.cloud66.com/box-shadow-transition-performance/)
	&::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .05), 0 6px 20px 0 rgba(0, 0, 0, .15);
    content: '';
    opacity: 0;
    z-index: -1;
  }

  &:hover,
  &:focus {
    &::after {
      opacity: 1;
    }
  }
}

@mixin hover-zoom {
	&:hover,
  &:focus {
    transform: scale3d(1.005, 1.005, 0.3);
  }
}

// ==== Other visual effect mixins ====
@mixin fading-gradient($reverse: false) {
	@if $reverse == true {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+13,1+15,0+100 */
		background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 13%, rgba(255,255,255,1) 15%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 13%,rgba(255,255,255,1) 15%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 13%,rgba(255,255,255,1) 15%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
	} @else {
		background: linear-gradient(to left, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 13%,rgba(255,255,255,1) 15%,rgba(255,255,255,0) 100%); 
	}
}

/**
 * ================
 * Bulma Components
 * ================
 */
// ==== Card ====
.card {
	transition: transform .5s;
	@include hover-box-shadow;
	@include hover-zoom;
}

.card-image img {
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// ==== Pageloader ====
.pageloader {
	animation: dropin .35s ease-out;
	transform: none !important;
}

@keyframes dropin {
	0% {
		transform: translateY(-100%);
	}

	100% {
		transform: translateY(0%);
	}
}

// ==== Menu ====
.menu-label {
	padding-left: 10px;
}

.menu-list a {
	display: flex;
	align-items: center;
}

.menu-list .menu-icon {
	padding-right: 10px;
}

.menu-list .menu-description {
	margin-top: 0px;
}

// == Navbar ==
.navbar-start .navbar-item {
	padding-left: 2em;
}

.navbar-link svg {
	padding-right: 5px;
}

/**
 * =================
 * Custom Components
 * =================
 */
// ==== Arrows ====
.arrow {
	cursor: pointer;
	position: absolute;
	height: 100%;
	width: 30px;
	display: flex;
	align-items: center;
	z-index: 10;
}

.arrow.left {
	top: 0;
	left: -12px;
	@include fading-gradient(true);
}

.arrow.right {
	top: 0;
	right: 0;
	@include fading-gradient;
}

// ==== News Feed ====
.news-feed {
	position: relative;
	background-color: $light-gray;
}

.news-feed-articles {
	overflow-x: scroll;
	overflow-y: hidden;
	padding: 0px 30px;
}

// ==== Weather ====
.weather {
	display: flex;
	align-items: center;
	color: $dark-beige;
}

.weather-info {
	margin: 0px 12px;
}

.weather-temp {
	font-size: 20px;
	line-height: 20px;
}

.weather-city {
	font-size: 14px;
}

// === Mobile Dropdown Menu ===
@include mobile {
	#mainMenu {
		display: none;
	}
	#mainMenu.is-active {
		display: block;
	}
}

@include desktop {
	#mainMenu .section-countries  {
		display: none;
	}
}

@include tablet-only {
	.navbar {
		display: flex;
		justify-content: space-between;
	}
	.navbar-burger {
		display: none;
	}
	.navbar-menu {
		display: flex;
		box-shadow: none;
	}
	.navbar-start {
		display: none;
	}
}
